@use "../abstract/variables" as *;
@use "../abstract/functions" as fun ;

.font-ta{
    font-family: $font-malar;
}

.badge{
    padding: 0px 12px;
    border-radius: 10px;

    &-primary{
        @extend .badge;
        background-color: fun.theme-color();
        color: #fff;
    }
}

.text-uppercase{
    text-transform: uppercase;
}

//Global margin

$values:1,2,3,4,5,6,7,8,9,10;
$directions:"top","bottom","right",left;

@each $value in $values{
    .m-#{$value}{
        margin: #{$value}rem;
    }
    .p-#{$value}{
        padding: #{$value}rem;
    }

    @each $direction in $directions{
        .m#{str-slice($direction,0,1)}-#{$value}{
            margin-#{$direction}: #{$value - 0.3}rem;
        }
    }
}

.form-control{
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 10px; 
    background-color: rgb(240, 239, 239);
    caret-color: fun.theme-color();
    width: 100%;
    outline: none;
    outline-color: blue;

    &:focus{
        outline: 2px solid fun.theme-color();
    }
    
}
.resize-none{
    resize: none;
}

.responsive-img{
    max-width: 100%;
    height: auto;
}