@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@400;500;600;700&family=Poppins:ital,wght@0,400;0,600;0,700;1,600&display=swap');

$font-poppins: 'Poppins', sans-serif;
$font-malar:'Mukta Malar', sans-serif;

$theme-color:(
    "primary": #7307d8,
    "primary-hover":rgb(128, 18, 231),
    "dark":#020710,
    "red":rgb(253, 58, 58)
)